:root {
    --color-darkblue: #146C94;
    --color-blue: #19A7CE;
    --color-lightblue: #AFD3E2;
    --color-beige: #F6F1F1;
    
    --color-white: #ffffff;
}

@font-face {
    font-family: LemonMilk;
    src: url(../../fonts/LEMONMILK-Medium.otf);
}

body {
    background-color: var(--color-beige);
}

.statisticPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.card {
    width: 30vh;
    margin: 30px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}
.card:hover {
    background: var(--color-white);
    box-shadow: 2px 2px var(--color-darkblue);
}
.card-title {
    font-weight: bold;
}
.details {
    font-family: LemonMilk;
    margin: 10px auto;
    border: 2px solid var(--color-darkblue);
    color: var(--color-darkblue);
    background-color: transparent;
}
.details:hover {
    color: var(--color-lightblue);
    background-color: var(--color-darkblue);
}