:root {
    --color-darkblue: #1088a0;
    --color-blue: #78b2c4;
    --color-beige: #cfc1af;
    --color-backgroung: #f6f0ea;
    --color-darkbeige: #cfad89;
}

body {
    background-color: var(--color-backgroung);
}